@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap');
    font-family: 'Cormorant', serif;
}
body{
    font-family: Cormorant;
}
.bg{
    background: url("../assets/img/0and1.jpeg") center center ;
}
.bg1{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/img/0and1.jpeg");
}
.bg2{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20%;
    color: #fff;
}
.custom-width{
    width: 50%;
}
.v-a{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media screen and (min-width: 1420px){
    .f-r{
        float: right;
    }
    .f-l{
        float: left;
    }
}